[submodule "submodules/postgres-db-microservice"]
	path = submodules/postgres-db-microservice
	url = https://github.com/jimmybombimmy/postgres-db-microservice
[submodule "submodules/auth-microservice"]
	path = submodules/auth-microservice
	url = https://github.com/jimmybombimmy/auth-microservice
